<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<style type="text/css">
		@page { size: 11in 8.5in }
		p { margin-bottom: 0.0in; direction: ltr; line-height: 180%; text-align: left;  box-decoration-break: clone; }
		p.western { font-family: "Calibri", serif }
		p.ctl { font-family: "Calibri" }
		a:link { color: #0563c1 }
	</style>
</head>
<div title="header">
  <p style="margin-bottom: 0in; line-height: 100%"><a name="_GoBack"></a>
    <img src="http://agm.fpt.com.vn/static-email/imgs/img_confirm_vi.png" alt="FPT">
  </p>
</div>
<body lang="en-US" link="#0563c1" dir="ltr">
<table border="0" cellspacing="0" width="100%">
  <tr>
    <td width="1000" style="padding-left: 3%; padding-right: 20px">
      <br/>
      <p class="western">
        <font color="#2e74b5" face="Times New Roman, serif" size="4" style="font-size: 18pt"><b>Xác nhận địa chỉ thư điện tử của Cổ đông</b></font>
      </p>
      <br/>
      <br/>

			<p class="western" style="text-indent: 0%;">
        <font color="#3b3838" face="Times New Roman, serif" size="4" style="font-size: 14pt">
          <b>Kính gửi:</b>
        </font>
        <font color="#3b3838" face="Times New Roman, serif" size="4" style="font-size: 14pt">
          Quý Cổ đông {{ shareholder_name }} - {{ shareholder_id }}
        </font>
      </p>

      <br/>

			<p class="western" style="text-indent: 0%;">
        <font face="Times New Roman, serif" size="4" style="font-size: 14pt">
					Công ty Cổ phần FPT xin trân trọng cảm ơn Quý Cổ đông đã đăng ký bỏ phiếu từ xa/theo dõi trực tuyến Đại hội đồng Cổ đông thường niên FPT 2020.
        </font>
      </p>
      <br/>

      <ul>
        <li type='disc'>
          <p>
            <font face="Times New Roman, serif" color="#3b3838" style="font-size: 14pt">
              Để hoàn tất thủ tục đăng ký, Quý Cổ đông vui lòng nhấn vào đường link sau đây để <a href="{{verification_url}}"> xác thực địa chỉ email </a>
            </font>
          </p>
        </li>
      </ul>

      <ul>
        <li type='disc'>
          <p>
            <font face="Times New Roman, serif" color="#3b3838" style="font-size: 14pt">
							Thông tin hướng dẫn chi tiết bỏ phiếu từ xa / theo dõi trực tuyến Đại hội sẽ được gửi đến địa chỉ thư điện tử này của Quý Cổ đông.
            </font>
          </p>
        </li>
      </ul>

			<br/>

			<p class="western" style="text-indent: 0%;">
        <font color="#404040" face="Times New Roman, serif" style="font-size: 13pt; line-height: 100%;">
          <b>Trân trọng,</b>
        </font>
			</p>
			<p class="western" style="text-indent: 0%;">
        <font color="#404040" face="Times New Roman, serif" style="font-size: 13pt; line-height: 100%">
          Công ty Cổ phần FPT
        </font>
			</p>
			<p class="western" style="text-indent: 0%;">
        <font color="#404040" face="Times New Roman, serif" style="font-size: 13pt; line-height: 100%">
          Phòng	quan hệ Cổ đông
        </font>
			</p>
			<p class="western" style="text-indent: 0%;">
        <font color="#404040" face="Times New Roman, serif" style="font-size: 13pt; line-height: 100%">
          Email: <a href="mailto:agm@fpt.com.vn">agm@fpt.com.vn</a>
        </font>
			</p>
			<p class="western" style="text-indent: 0%;">
        <font color="#404040" face="Times New Roman, serif" style="font-size: 13pt; line-height: 100%">
					Tel: +84 24 7300 7300/ 46496
        </font>
			</p>

    </td>
    <td></td>
   </tr>
</table>
</body>
</html>
