<!DOCTYPE html>
<html>
<head>
  <style>
    body {font-family: "Times New Roman"}
    p {text-indent: 50px;}
  </style>
</head>
<body>
  <p>Kính gửi: Quý Cổ đông {{shareholder_name}}, mã số cổ đông {{shareholder_id}}</p>
  <p>Công ty Cổ phần FPT xin trân trọng cảm ơn Quý Cổ đông đã đăng ký bỏ phiếu từ xa/theo dõi trực tuyến Đại hội đồng Cổ đông thường niên FPT 2020.</p>
  <p>Để hoàn tất thủ tục đăng ký, Quý Cổ đông vui lòng nhấn vào đường link sau đây: <a href="{{verification_url}}"> {{verification_url}} </a> </p>
  <p>Thông tin hướng dẫn chi tiết bỏ phiếu từ xa/theo dõi trực tuyến Đại hội sẽ được gửi đến địa chỉ thư điện tử này của Quý Cổ đông.</p>
  <p>Trân trọng cảm ơn,</p>

  <p>Công ty Cổ phần FPT</p>

  <p>Phòng quan hệ Cổ đông Email: agm@fpt.com.vn</p>

  <p>Tel: 84 24 7300 7300/464096</p>

  </body>
</html>
