<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<style type="text/css">
		@page { size: 11in 8.5in }
		p { margin-bottom: 0.0in; direction: ltr; line-height: 180%; text-align: left;  box-decoration-break: clone; }
		p.western { font-family: "Calibri", serif }
		p.ctl { font-family: "Calibri" }
		a:link { color: #0563c1 }
	</style>
</head>
<div title="header">
  <p style="margin-bottom: 0in; line-height: 100%"><a name="_GoBack"></a>
    <img src="http://agm.fpt.com.vn/static-email/imgs/img_confirm_en.png" alt="FPT">
  </p>
</div>
<body lang="en-US" link="#0563c1" dir="ltr">
<table border="0" cellspacing="0" width="100%">
  <tr>
    <td width="1000" style="padding-left: 5%; padding-right: 20px;">
      <br/>
      <p class="western">
        <font color="#2e74b5" face="Times New Roman, serif" size="4" style="font-size: 18pt"><b>Instructions of remote voting for Annual General Meeting of Shareholders</b></font>
      </p>
      <br/>

			<p class="western" style="text-indent: 0%;">
        <font color="#3b3838" face="Times New Roman, serif" size="4" style="font-size: 14pt">
          <b>To:</b>
        </font>
        <font color="#3b3838" face="Times New Roman, serif" size="4" style="font-size: 14pt">
          Shareholder {{ shareholder_name }} - {{ shareholder_id }}
        </font>
      </p>

      <br/>

			<p class="western" style="text-indent: 0%;">
        <font face="Times New Roman, serif" size="4" style="font-size: 14pt">
          FPT Corporation would like to express our sincere thanks to you for having registered for remote voting.
        </font>
				<br/>
        <font face="Times New Roman, serif" size="4" style="font-size: 14pt">
          To vote, please follow the instructions below:
        </font>
      </p>
      <br/>

      <ul>
        <li type='disc'>
          <p>
            <font color="#2e74b5" face="Times New Roman, serif" color="#3b3838" style="font-size: 14pt">
							<b><u>Step 1:</u></b>
            </font>
            <font face="Times New Roman, serif" color="#3b3838" style="font-size: 14pt">
              Print the Voting Card enclosed in this email.
            </font>
          </p>
        </li>
      </ul>
      <ul>
        <li type='disc'>
          <p>
            <font color="#2e74b5" face="Times New Roman, serif" color="#3b3838" style="font-size: 14pt">
							<b><u>Step 2:</u></b>
            </font>
            <font face="Times New Roman, serif" color="#3b3838" style="font-size: 14pt">
              Fill in the information as per the instructions in the voting card.
            </font>
          </p>
        </li>
      </ul>
      <ul>
        <li type='disc'>
          <p>
            <font color="#2e74b5" face="Times New Roman, serif" color="#3b3838" style="font-size: 14pt">
							<b><u>Step 3:</u></b>
            </font>
            <font face="Times New Roman, serif" color="#3b3838" style="font-size: 14pt">
							Scan / photograph the voting card and send it to the Organizing Committee via the following email address: <a href="mailto:agm@fpt.com.vn">agm@fpt.com.vn</a>
            </font>
          </p>
        </li>
      </ul>
      <ul>
        <li type='disc'>
          <p>
            <font color="#2e74b5" face="Times New Roman, serif" color="#3b3838" style="font-size: 14pt">
							<b><u>Step 4:</u></b>
            </font>
            <font face="Times New Roman, serif" color="#3b3838" style="font-size: 14pt">
              Send the hard copy in an envelope of FPT Corporation which is attached to the meeting invitation (Please mark X on "voting card" listed on the envelope) or send it to the following address:
            </font>
          </p>
        </li>
      </ul>

      <ul>
        <li type='none'>
          <p>
            <font face="Times New Roman, serif" color="#3b3838" style="font-size: 14pt">
              <b>Investor Relations Department</b>
            </font>
            <br/>
            <font face="Times New Roman, serif" color="#3b3838" style="font-size: 14pt">
              <b>FPT Building, 17 Duy Tan, Dich Vong Hau Ward, Cau Giay District, Hanoi</b>
            </font>
          </p>
        </li>
      </ul>
      <br/>

			<p class="western" style="text-indent: 0%;">
        <font color="#404040" face="Times New Roman, serif" style="font-size: 13pt; line-height: 100%;">
          <b>Best regards,</b>
        </font>
			</p>
			<p class="western" style="text-indent: 0%;">
        <font color="#404040" face="Times New Roman, serif" style="font-size: 13pt; line-height: 100%">
          FPT Corporation
        </font>
			</p>
			<p class="western" style="text-indent: 0%;">
        <font color="#404040" face="Times New Roman, serif" style="font-size: 13pt; line-height: 100%">
          Email: <a href="mailto:agm@fpt.com.vn">agm@fpt.com.vn</a>
        </font>
			</p>
			<p class="western" style="text-indent: 0%;">
        <font color="#404040" face="Times New Roman, serif" style="font-size: 13pt; line-height: 100%">
					Tel: +84 24 7300 7300/46496
        </font>
			</p>

    </td>
    <td></td>
   </tr>
</table>
</body>
</html>
